@use '../../style';
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

a {
    text-decoration: none;
}

.project-card-container {
    box-shadow: 12px 12px 15px 0px rgba(0,0,0,0.45);
    border: 2px solid style.$secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 270px;
    width: 100%;
    gap: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
}

.project-card-container .project-card-header {
    display: flex;
    justify-content: space-between;
    background-color: style.$primary-color;
}


.project-card-container .project-card-header .open-in-new-icon {    
    height: 25px;
    width: 25px;
    background-color: style.$secondary-color;
    padding: 3px;   
    margin: 5px;
    border-radius: 7px;
    fill: style.$primary-color;
    
}

.project-card-container .project-card-content {
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    background-color: style.$primary-color;
    width: 100%;
    gap: 20px;
    height: 45%;
    padding: 5px 15px 15px 15px;
    border-top: 1px solid style.$secondary-color;
}

.project-card-container .project-card-content .project-card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card-container .project-card-content .project-card-info h2 {
    font-weight: 700;
    
}

.project-card-container .project-card-content .project-card-info p {
    width: 100%;
    font-size: 12px;

}

.project-card-container .project-card-content .project-card-info ul {
    list-style: none;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.project-card-container .project-card-content .project-card-info ul li {
    border-radius: 10px;
    padding: 5px;
    font-size: 10px;
}