@use '../style';

.about-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-container .about-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    border: 1px solid style.$secondary-color;
}

.about-container .about-header .image {
    border: 1px solid style.$secondary-color;
    height: 500px;
    width: 500px;
}

.about-container .about-header p {
    border: 1px solid style.$secondary-color;
    height: 500px;
    width: 500px;
}