@use '../style';

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projects-container .projects-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projects-container .projects-header h1 {
    font-size: 50px;
}

.projects-container .projects-header div {
    border: 1px solid white;
    height: 100px;
    width: 1px;
}

.projects-container .projects-header p {
    // border: 1px solid white;
}

.projects-container .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}